/* .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;    
    flex-wrap: inherit;
} */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

